/* Resetting default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.button {
  background-color: rgba(240, 115, 0, 0.4);
  /* Transparent orange color */
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #00034d;
  /* Dark blue color */
  color: #ffffff;
  /* White color */
}

/* Setting up font families */
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  /* Default text color */
  background-color: #f3ff9f;
}

/* Header styles */
header {
  background-color: rgba(240, 115, 0, 0.4);
  /* Transparent orange color */
  color: #00034d;
  padding: 20px;
  text-align: center;
}

header img {
  height: 50px;
  /* Adjust the height as needed */
  width: auto;
  /* Maintain aspect ratio */
  margin-right: 10px;
  /* Optional: Add spacing between logo and heading */
}

/* Navigation menu styles */
nav {
  background-color: #ff730066;
  /* Dark pink color */
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #00034d;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #000000;
  /* Black color */
}

nav ul li a.active {
  color: #000000;
  /* Change the color to your desired styling */
  font-weight: bold;
  /* Add any other styling you'd like */
  background-color: #00034d;
}

/* Main content styles */
.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 0 20px;
}

/* Style for WhatsApp chat link */
a.whatsapp-link {
  color: #25D366;
  /* Green color for WhatsApp */
  text-decoration: none;
  /* Remove underline */
}

a.whatsapp-link:hover {
  text-decoration: underline;
  /* Underline on hover */
}

/* Style for phone number links */
a.phone-link {
  color: #007bff;
  /* Blue color for phone numbers */
  text-decoration: none;
  /* Remove underline */
}

a.phone-link:hover {
  text-decoration: underline;
  /* Underline on hover */
}

/* Style for email link */
a.email-link {
  color: #dc3545;
  /* Red color for email */
  text-decoration: none;
  /* Remove underline */
}

a.email-link:hover {
  text-decoration: underline;
  /* Underline on hover */
}

/* Footer styles */
footer {
  background-color: #ff730066;
  /* Dark pink color */
  color: #00034d;
  padding: 20px;
  text-align: center;
}
